<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.learn.acadamy.Listeners"/>
	<listener class-name="resources.ExtentReporterNG"/>
</listeners>
	<test thread-count="5" name="Test1">
		<classes>
			<class name="com.learn.acadamy.ValidateNavigationBar" />
		</classes>
	</test>
	<test name="test2">
		<classes>
			<class name="com.learn.acadamy.HomePage" />
		</classes>
	</test>
	<test name="Test3">
		<classes>
			<class name="com.learn.acadamy.ValidateTitle" />
		</classes>
	</test>
</suite>
